{% extends 'base.html '%}

{% block title %}
    Create a Post
{% endblock %}

{% block content %}
<div class="container w-25" id="form-container">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.img_url.label }}
            {{ form.img_url(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.caption.label }}
            {{ form.caption(class="form-control") }}
        </div>
        {{ form.submit_btn(class="btn btn-primary d-block mx-auto") }}
    </form>
</div>
{% endblock %}