{% extends 'base.html '%}

{% block title %}
    Thieves Contact Page
{% endblock %}

{% block content %}
    {% for user in users %}
        {% if current_user.id != user.id %}
            <div class="card shadow p-3 mb-5 bg-body-tertiary rounded mx-auto" style="width: 18rem;">
                <img src="{{url_for('static', filename='images/thievesbglogo.png')}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{user.first_name}}</h5>
                    {% if user.isFollowing %}
                        <a href="{{ url_for('posts.unfollow', user_id=user.id)}}" class="btn btn-danger">Unfollow</a>
                    {% else %}
                        <a href="{{ url_for('posts.follow', user_id=user.id) }}" class="btn btn-primary">Follow</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}