{% extends 'base.html' %}

{% block title %}
    Signup Page
{% endblock %}

{% block content %}
<div class="container w-25" id="form-container">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.first_name.label }}
            {{ form.first_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.last_name.label }}
            {{ form.last_name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        {{ form.submit_btn(class="btn btn-primary d-block mx-auto") }}
    </form>
</div>
{% endblock %}